@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lab 2 on .NET</h1>
    <p class="lead">
        Sample web app to create - update - delete movies. Can be used for tracking film premieres or already visited.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Source Code</h2>
        <p><a class="btn btn-default" href="https://github.com/Angiiee/NET_Lab">Github</a></p>
    </div>
</div>